@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:wght@700&family=Orbitron:wght@700&display=swap');



body {
  background: radial-gradient(98.26% 251.56% at 13.33% 18.61%, #343131 0%, #1D1919 100%);
  font-family:'Catamaran', sans-serif;
}
body, html {
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 98px 1fr;
  height: 100%;
  gap: 60px;
}

.content-sidebar {
  border-right: 1px solid #505050;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-sidebar__button {
  display: block;
  height: 98px; 
  width: 100%;
  background: linear-gradient(127.44deg, #505050 0%, #383838 100%);  
  border: none;
  position: relative;
}

.content-sidebar__button::after {
  position: absolute;
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../image/menu-icon.svg);
background-size: cover;
  background-repeat: no-repeat;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}

.content-sidebar__list {
  list-style: none;
  margin-bottom: 60px;
  padding-left: 0;
}

.content-sidebar__link {
  margin: 0 auto;
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  background-position: center center;

}

.content-sidebar__icon {
  margin-top: 63px;

}

.content-sidebar__fb {
  background-image: url(../image/fb.svg);
}

.content-sidebar__inst {
  background-image: url(../image/insta.svg);

}

.content-sidebar__twit {
  background-image: url(../image/twitter.svg);

}

.content-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 70px;
}

.content-header__logo {
  display: block;
  background-image: url(../image/header-logo.svg);
  background-repeat: no-repeat;
width: 123px;
height: 33px;
background-size: cover;

}


.content-header__list {
list-style: none;
padding-left: 0;
margin: 0;
display: flex;
}


.content-header__item {
  margin-left: 67px;
  
}
.content-header__item:first-child {
  margin-left: 0;
}


.content-header__link {
  position: relative;
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 17px;
  transition: .5s;
}

.content-header__link::after {
  content: '';
  width: 22px;
  height: 2px;
  background-color: #FFFFFF;  
  display: block;
  position: absolute;
  bottom: -14px;
  opacity: 0;
  transition: .5s;
  }
  
  

.content-header__link::before {
  content: '';
  transition: .5s;
  transform: scale(0.5);
  position: absolute;
  left: 0;
  bottom: 0;

}

.content-header__link:hover {
  font-weight: 800;
  font-size: 17px;
  transform: scale(1.5);
}


.content-header__link.active {
font-weight: 800;
}

.content-header__link.active::after, 
.content-header__link:hover::after  {
opacity: 1;
}

.content-header__link.wallet {
  background-image: url(../image/walett.svg);
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: #FFFFFF;
}
.swiper {
height: calc(100vh - 158px);
}


.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>
.swiper-pagination-bullets {
  right: 50px;
}